{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  run_script,
  install_python_deps,
  configure_git,
with context %}
---
name: "Tag Release"
on:
  workflow_dispatch:

env:
  UV_SYSTEM_PYTHON: "1"

defaults:
  run:
    working-directory: "{{ plugin_name }}"

jobs:
  build-artifacts:
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false

    permissions:
      contents: "write"

    steps:
      {{ checkout(depth=0, path=plugin_name) | indent(6) }}

      {{ setup_python(pyversion="3.12") | indent(6) }}

      {{ configure_git() | indent(6) }}

      {{ run_script(name="Tag the release", file="release.sh") | indent(6) }}
...
