{% include 'header.j2' %}
{% from 'macros.j2' import
  setup_python,
with context %}

---
name: "Update Labels"
on:
  push:
    branches:
      - "main"
    paths:
      - "template_config.yml"

env:
  UV_SYSTEM_PYTHON: "1"

jobs:
  update_backport_labels:
    runs-on: "ubuntu-latest"
    steps:
      {{ setup_python(pyversion="3.12") | indent(6) }}
      - uses: "actions/checkout@v6"
      - name: "Update labels"
        permissions:
          issues: "write"
        run: |
          uv run --script .github/workflows/scripts/update_backport_labels.py
        env:
          {%- raw %}
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          {%- endraw %}
...
